table {
  border-collapse: collapse;
}
td {
  padding: 5px;
  width: 50px;
  height: 50px;
  text-align: center;
}

img {
  width: 100%;
  height: 100%;
}

.chess {
  margin-left: 2%;
  margin-top: 2%;
  margin-bottom: 2%;

  tr:first-child,
  tr:last-child {
    td {
      height: 25px;
      border: 1px solid black !important;
      background-color: gray !important;

      p {
        background: none;
        margin: 0;
      }
    }
  }

  tr {

    td:first-child,
    td:last-child {
      width: 25px;
      border: 1px solid black !important;
      background-color: gray !important;

      p {
        background: none;
        margin: 0;
      }
    }
  }

  tr:nth-of-type(even) {
    td:nth-of-type(odd) {
      background-color: #66443A;
    }

    :nth-of-type(even) {
      background-color: #F5E6BF;
    }
  }

  tr:nth-of-type(odd) {
    td:nth-of-type(odd) {
      background-color: #F5E6BF;
    }

    td:nth-of-type(even) {
      background-color: #66443A;
    }
  }
}

.disable {
  pointer-events: none;
}

.dead {
  margin-left: 2%;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid red;
}